{% extends 'layout.html' %}
{% block hehe %}
<h1 class = "mb-3">Posts by {{ user.username }}({{ posts.total }})</h1>

{% for post in posts.items %}
<article class="media content-section">
    <img src="{{url_for('static',filename = 'pictures/' + post.author.image_file)}}" alt="" class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{url_for('users.user_posts',username = post.author.username)}}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d')}}</small>
        </div>
        <h2><a class="article-title" href="{{url_for('posts.post',post_id=post.id)}}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.desc }}</p>
    </div>
</article>
{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if posts.page > 1 %}
            <li class="page-item ">
                <a class="page-link" href="{{ url_for('users.user_posts',username = user.username,page = posts.page - 1)}}"><<</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="{{ url_for('users.user_posts',username = user.username,page = posts.page - 1)}}"><<</a>
            </li>
        {% endif %}

        {% for page_num in posts.iter_pages(left_edge = 1, right_edge = 1, left_current=1,right_current =1) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <li class="page-item active">
                        <a href="{{ url_for('users.user_posts',username = user.username,page = page_num)}}" class = "page-link">{{ page_num }}</a>
                    </li>
                {% else %}  
                    <li class="page-item">
                        <a href="{{ url_for('users.user_posts',username = user.username,page = page_num)}}" class = "page-link">{{ page_num }}</a> 
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item"><p class="page-link">...</p></li>
            {% endif %}
        {% endfor %}
        {% if posts.page == (posts.last / posts.per_page) %}
            <li class="page-item">
                <a class="page-link " href="{{ url_for('users.user_posts',username = user.username,page = posts.page + 1)}}">>></a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="{{ url_for('users.user_posts',username = user.username,page = posts.page + 1)}}">>></a>
            </li>
        {% endif %}
        
    </ul>
  </nav>
{% endblock hehe%}